.ticket__container {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
  position: relative;
}

.ticket__container:hover {
  background-color: #3d3854;
  transition: all ease-out 0.5s;
}

.ticket__item {
  text-align: center;
  padding: 2rem 0;
}

.ticket__item {
  text-align: center;
  padding: 2rem 0;
}

.ticket__item a {
  color: #3496cb;
  font-weight: bold;
}

.check__icon {
  fill: #4ec21c;
  cursor: pointer;
}

.notification__icon {
  size: 20;
  fill: #ffffff;
  animation: bell 1s infinite;
  cursor: pointer;
}

.notification__icon:hover + .ticket__desciption {
  opacity: 1;
}

.check__icon:hover + .ticket__desciption {
  opacity: 1;
}

.alert {
  animation: spin 1s infinite ease;
}

.ticket__desciption {
  width: 30rem;
  height: auto;
  top: -50%;
  right: 4rem;
  padding: 2rem;
  text-align: justify;
  border-radius: 1rem;
  position: absolute;
  background-color: #ffffff;
  color: #2e2e48;
  z-index: 5;
  opacity: 0;
  font-size: 1.6rem;
  transition: all ease 0.8s;
  pointer-events: none;
}

@keyframes spin {
  0% {
    background: #2e2e48;
  }
  50% {
    background-color: #ff2c2ca9;
  }
}

@keyframes bell {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(25deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
